# Dart / Flutter
.dart_tool/
.packages
.pub-cache/
.pub/
build/
.flutter-plugins
.flutter-plugins-dependencies
pubspec.lock

# IDE
.idea/
.vscode/
*.iml
*.ipr
*.iws

# Firebase
.firebase/
firebase-debug.log
firestore-debug.log
ui-debug.log

# 기타
.DS_Store
